.bar div{
    display: none;
    z-index: 100;
}

.bar:hover div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 75%;
    background-color: white;
    left: 100%;
    padding: 10px 15px;
    width: 200px;
}

.bar:nth-child(n+7):hover div{
    right: 100%;
    left: auto;
}


.shadoow{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}